.uploadImage {
    height: 45px;
    width: 80%;
    max-width: 160px;
    background: #f8f8f8;
    border: 0.09rem dashed #e7e5ff;
    box-sizing: border-box;
    border-radius: 1px;
    text-transform: capitalize;
    color: #888; 
    float: left;
  }

  .upload-image-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 9;
    opacity: 0;
    cursor: pointer;
  }

  .upload-profile-image {
    height: 45px;
    width: 80%;
    max-width: 160px;
    background: #f8f8f8;
    border: 0.09rem dashed #e7e5ff;
    box-sizing: border-box;
    border-radius: 1px;
    text-transform: capitalize;
    color: #888; 
    margin-right:1em;
  }